body {
  background-color: rgba(124, 209, 240, 0.767); /* css 2번 조건 */
  height: 100vh; /* 화면 전체 높이 */
  margin: 0;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
}

div {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  height: 50%;
  width: 50%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* container 영역을 브라우저에서 가운데 정렬하기 위해 auto설정 */
  text-align: center;
}

#가로 {
  display: inline-block; /* 가로로 나열하기 위해 block레벨 요소를 inline-block레벨로 전환 */
  width: 200px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
  height: 200px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
  border: none;
}
#todoInput {
  width: 70%;
  height: 8%;
}

#addTodo {
  width: 70%;
  height: 8%;
  background-color: rgba(124, 209, 240, 0.767);
  color: white;
  border: none;
}
